.map-container-3{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-3 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }



    h3{
        color: #fb5607 ;
        text-align: center;
        border-radius: 1.5em;
        background-color: white;
    
    }
    
    
    h6{
        border: solid 5px black;
        text-align: center;
        color: white;
        background-color: black;
        border-radius: 1.5em;
    }

    h5{
        text-align: center;
        font-family: 'Exo', sans-serif;
    }

    h4{
        text-align: center;
        font-family: 'Exo', sans-serif;
        border-bottom: 4px solid #88be4c;
    }





    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }
    
    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }


    .img-align{
        text-align: center;
    }