h3{
    color: white ;
    text-align: center;
    border-radius: 1.5em;
    background-color: black;
    padding: .2em;
}

.class-bg{
    background-color: #fb5607 ;
}


h6{
    border: solid 5px black;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 1.5em;
}

h1{
    color: #fb5607 ;
    text-align: center;
    border-radius: 1.5em;
    background-color: white;
}


.bordeado{
    border: #fb5607 1px dotted;
}