h1{
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h6{
    border: solid 5px black;
    text-align: center;
    color: white;
    background-color: black;
}
