h1{
    text-align: center;
}

h4{
    text-align: left;
}

p{
    text-align: justify;
    font-family: 'Exo', sans-serif;
}

li{
    font-family: 'Exo', sans-serif;
}


h6{
    border: solid 5px black;
    text-align: center;
    color: white;
    background-color: black;
}