
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color:#fb5607 ;
    text-align: center;
    border-radius: 1.2em;
    background-color: white;
    padding: .1em 1em;
    font-weight: bold;
}


h5{
    color:#fb5607 ;
    text-align: center;
    border-radius: 1.2em;
    background-color: white;
    padding: .1em 1em;
}



h6{
    border: solid 5px black;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 1.5em;

}

#hola{
    background-color: #fb5607;
    border-radius: 2.9em;
}

